DerivedDataCache[[:space:]]Intermediate[[:space:]]Saved[[:space:]].vscode[[:space:]].vs[[:space:]]*.VC.db[[:space:]]*.opensdf[[:space:]]*.opendb[[:space:]]*.sdf[[:space:]]*.sln[[:space:]]*.suo[[:space:]]*.xcodeproj[[:space:]]*.xcworkspace filter=lfs diff=lfs merge=lfs -text
